.check-btn {
  float: left;
  color:green;
  background: "https://media.istockphoto.com/vectors/football-vector-id484203234?k=6&m=484203234&s=612x612&w=0&h=_bOWSzNrZBMIFl6NfflRRLkICoBEvvuTmMwZCY4ZmDo="
}
